<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCiti_V2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75FB9B471D8D5398000638B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FB9B5B1D8D5399000638B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75FB9B661D8D5399000638B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
